<div class="container-fluid">
    <div class="container">
        <p class="h1 title">Project X</p>
    </div>
    <div class="container nav">
        <a [routerLink]="['hello']" class="btn btn-primary">Hello Page</a>
        <a [routerLink]="['calendar']" class="btn btn-primary">Calendar Page</a>
        <a [routerLink]="['user']" class="btn btn-primary">User Page</a>
    </div>
    <section>
        <div class="row">
            <router-outlet></router-outlet>
        </div>
    </section>

</div>
